* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.8;
}

/* Header */
header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* one */
.one {
    background: url('background1.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.one h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.one button {
    padding: 10px 20px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 5px;
}

/* Menu */
#menu {
    padding: 40px;
    text-align: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 200px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

/* About */
#about {
    padding: 40px;
    background: #eee;
    text-align: center;
}

/* Contact */
#contact {
    padding: 40px;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

#contact input, #contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

#google_translate_element {
    display: inline-block;
    margin-right:100px;
    align-items: center;
    
    
}

#google_translate_element select {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    background: white;
    cursor: pointer;
    
}
#google_translate_element select option {
    color: #000;
}